{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About website</h1>
          <span class="subheading">This is what I did.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          The blog website was developed using a combination of Python, Flask, HTML, CSS, Bootstrap, Jinja, and SQLite3.
          Python served as the primary programming language, while Flask, a web framework, facilitated the creation of
          the web application. HTML and CSS were utilized for structuring and styling the web pages, respectively,
          ensuring an appealing and user-friendly interface. Bootstrap, a front-end framework, enhanced the site's
          responsiveness and streamlined design components. Jinja, a templating engine, allowed for dynamic content
          generation by embedding Python code within HTML templates. Additionally, SQLite3 was used as the database
          management system to efficiently manage and store the website's data. This amalgamation of technologies
          enabled the creation of a functional, interactive, and visually engaging blog website.
        </p>

      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
